body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dee0dd;
}

.container {
  background-color: white;
  max-width: 720px;
  margin: 1rem auto;
  padding: 1rem max(1rem, 3%);
}

.container h1 {
  text-align: center;
}

/* -------------------------------------------------- */
/* ADD T0D0 FORM  */

.add-todo-form {
  display: flex;
}

.add-todo-form input {
  flex: 4;
  padding: 0.7rem 0.7rem;
  font-size: 1.3rem;
  min-width: 0;
}

.add-todo-form button {
  flex: 1;
  padding: 0.7rem 0.7rem;
  font-size: 1.3rem;
  min-width: 0;
}

/* -------------------------------------------------- */
/* T0D0S LIST */

.todo-list {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 1rem;
}

.todo {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-top: 1px solid black;
}

.todo:first-child {
  border-top: none;
}

.todo .todo-text{
  padding: 0.3rem;
  font-size: 1.3rem;
  flex: 4;
}

.todo .todo-text textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.todo .todo-options {
  flex: 1;
  padding: 0.7rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
}

.todo-options button {
  font-size: 1.2rem;
  padding: 0.7rem;
  height: 2.8rem;
  width: 2.8rem;
  align-items: center;
}

.todo .toggle-done {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .todo-list {
    margin: 0;
  }

  .todo-options {
    flex-direction: column;
  }

  .todo .todo-text {
    font-size: 1.1rem;
  }

  .todo .todo-text textarea {
    font-size: 1.1rem;
  }
}
